<icecast>
  <location>Earth</location>
  
  <admin>someone@somewhere.com</admin>
  
  <limits>
    <clients>100</clients>
    <sources>2</sources>
    <queue-size>524288</queue-size>
    <client-timeout>30</client-timeout>
    <header-timeout>15</header-timeout>
    <source-timeout>10</source-timeout>
    <burst-on-connect>1</burst-on-connect>
    <burst-size>65535</burst-size>
  </limits>
  
  <authentication>
    <source-password>REPLACEME</source-password>
    <relay-password>REPLACEME</relay-password>
    <admin-user>REPLACEME</admin-user>
    <admin-password>REPLACEME</admin-password>
  </authentication>
  
  <hostname>somewhere.com</hostname>
  
  <listen-socket>
    <port>8000</port>
  </listen-socket>
  
  <http-headers>
    <header name="Access-Control-Allow-Origin" value="*" />
  </http-headers>
  
  <fileserve>1</fileserve>
  
  <paths>
    <basedir>/usr/share/icecast</basedir>
    <logdir>/var/log/icecast</logdir>
    <webroot>/usr/share/icecast/web</webroot>
    <adminroot>/usr/share/icecast/admin</adminroot>
    <alias source="/" destination="/status.xsl"/>
  </paths>
  
  <logging>
    <accesslog>access.log</accesslog>
    <errorlog>error.log</errorlog>
    <loglevel>3</loglevel> <!-- 4 Debug, 3 Info, 2 Warn, 1 Error -->
    <logsize>10000</logsize>
  </logging>
  
  <security>
    <chroot>0</chroot>
    <changeowner>
      <user>icecast</user>
      <group>icecast</group>
    </changeowner>
  </security>

  <mount>
    <mount-name>/mopidy</mount-name>
    <fallback-mount>/silence.mp3</fallback-mount>
    <fallback-override>1</fallback-override>
  </mount>

</icecast>
