ICECAST_ADMIN_EMAIL=someone@somewhere.com
ICECAST_HOSTNAME=something.somedomain
ICECAST_LOCATION=Earth
ICECAST_SOURCE_PASSWORD=verysecret
ICECAST_RELAY_PASSWORD=verysecret
ICECAST_ADMIN_USERNAME=sysop
ICECAST_ADMIN_PASSWORD=evenmoresecret
